@use '../shared/styles/variables.scss' as *;

.app {
  display: flex;
  height: 100vh;
  min-width: 1200px;
  overflow: hidden;
  background-color: $background;

  &__sidebar {
    flex: 0 0 26%;
    min-width: 400px;
    max-width: 500px;
    border-right: 1px solid $divider;
  }

  &__results {
    flex: 0 0 31.25%;
    min-width: 440px;
    max-width: 600px;
    border-right: 1px solid $divider;
  }

  &__visualization {
    flex: 1 1 0;
    min-width: 0;
  }
}
